@import url('assets/fonts/fonts.css');
* {
    font-family: 'atk-R';
}
h1, h2, h3{
    font-family: 'atk-bold';
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 1;
    background-color: #b0c2f2;
    align-items: center;
    overflow: auto;
}
.head button {
    border: none;
    height: 100%;
    min-width: 80px;
    background-color: #9ac9a7;
    transition: background-color 0.3s ease;
}
.head button:hover{

    background-color: #80a88b;
}

.head #dividir{
    height: 100%;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.336);
}

.head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    align-content: center;
    padding-right:10px;
    padding-left:10px;
    background-color: #9ac9a7;
    margin-bottom: 10px;
    border-bottom-left-radius: 20px;
}
.head h1{
    margin-right: 10px;
}

video{
    border-radius: 10px ;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer #shadow button{
    height: 90%;
    width: 98%;
    background-color: rgb(216, 99, 99);
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 20px;
    padding: 0;
}
.footer #shadow button:hover{
    background-color: rgb(190, 92, 92);
}
.footer #shadow{
    background-color: rgb(185, 91, 91);
    border-radius: 20px;
    width: 200px;
    height: 100px;
}
