@import url('assets/fonts/fonts.css');
* {
    font-family: 'atk-R';
}
h1, h2, h3{
    font-family: 'atk-bold';
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 1;
    background-color: #b0c2f2;
    align-items: center;
    overflow: auto;
}
.head button:hover{

    background-color: #80a88b;
}

@media screen and (min-width: 700px) {
.head button {
    border: none;
    height: 100%;
    min-width: 80px;
    background-color: #beeccb;
    transition: background-color 0.3s ease;
}

.head #dividir{
    height: 100%;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 20px;
}
.head h1{
    padding-right: 20px;
}
.head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    align-content: center;
    padding-left:50px;
    background-color: #beeccb;
    margin-bottom: 10px;
    border-bottom-left-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.head h1{
    margin-right: 10px;
}
}

@media screen and (max-width: 700px) {
    .head {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #beeccb;
        align-items: center;
        height: auto;
    }
    .head button {
        width: 100%;
        height: 100%;
        background-color: #beeccb;
        border: none;
    }
    .head #dividir {
        height: 2px; /* Ocultar las divisiones entre los botones */
        width: 90%;
        background-color: rgba(0, 0, 0, 0.336);
        border-radius: 20px;
        margin: 5px 0;
    }
}


video{
    border-radius: 10px ;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer #shadow button{
    height: 90%;
    width: 98%;
    background-color: #89CFF0;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 20px;
    padding: 0;
}
.footer #shadow button:hover{
    background-color: #6fadca;
}
.footer #shadow{
    background-color: #6fadca;
    border-radius: 20px;
    width: 200px;
    height: 100px;
}
.contenido{
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 240, 255);
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}
#pregunta{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
#pregunta select{
    border: none;
    background-color: #6fadca;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
}
#pregunta option{
    background-color: #80a88b;
}
#colorinchi{
    width: 100px;
    height: 60px;
    background-color: aquamarine;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
    
}
#resultado{
    overflow: hidden;
    text-overflow: ellipsis;
}
#IA{
    width: 100px;
    height: 50px;
    border: none;
    background-color: #80a88b;
    border-radius: 10px;
    align-self: self-end;
    margin-right: 8%;
    transition: background-color 0.3s ease;
}
#IA:hover{
    background-color: #60a88b
}
